<article class="active">
  <h2 class="spec-reminder-title">{{model.title}}</h2>
  <div>{{model.date}}</div>
  <p>{{model.notes}}</p>
  {{#link-to 'reminders.edit' reminder.id class="spec-reminder-edit"}}<button>Edit</button>{{/link-to}}
</article>
