<section class="spec-individual-reminder-item">
	<h3 class="reminder-title"> {{model.title}}</h3>
	<p class="reminder-date"> {{model.date}}</p>
	<p class="reminder-notes"> {{model.notes}}</p>
</section>

{{outlet}}
