<div>
	<h2>remEMBER</h2>
	{{#if model}}
		<ul class="reminder-list">
			{{#each model as |reminder|}}
				<li class='reminder'>
					<h3>
						{{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}
						{{reminder.title}}
						{{/link-to}}
					</h3>
					<p>{{reminder.date}}</p>
					{{#link-to 'reminders.edit-reminder' reminder.id class="spec-reminder-edit"}}<h4>Edit</h4>{{/link-to}}
				</li>
			{{/each}}
	</ul>
	{{else}}
		<p class="welcome-default">Welcome! Click 'add' to create a new reminder.</p>
	{{/if}}

	<button >
		{{#link-to 'reminders.new' class="add-btn"}}Add{{/link-to}}
	</button>
</div>


{{outlet}}
