<div>
	{{#if model}}
		<ul class="reminder-list">
			{{#each model as |reminder|}}
				<li class='reminder'>
					<h3 class="spec-reminder-title">
						{{#link-to 'reminders.reminder' reminder class="spec-reminder-item"}}
							{{reminder.title}}
						{{/link-to}}
					</h3>
					<p>{{reminder.date}}</p>
						{{#link-to 'reminders.edit' reminder class="spec-reminder-edit"}}
							<button class="edit-button">Edit</button>
						{{/link-to}}
				</li>
			{{/each}}
	</ul>
	{{else}}
		<p class="welcome-default">Welcome! Click 'add' to create a new reminder.</p>
	{{/if}}

	<button >
		{{#link-to 'reminders.new' class="add-btn"}}Add{{/link-to}}
	</button>
</div>


{{outlet}}
